.table-row {
    td {
        display: flex;
        align-items: center;
        flex: 1 1 0;
    }
}

.iot-module-paging {
    .page-item {
        width: 34px;
        height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        color: black;
        border-radius: 50%;
                
        a:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    .page-item:first-child {
        margin-left: 0;
        background-color: #E4E4E4;
    }

    .page-item:last-child {
        margin-right: 0;
        background-color: #E4E4E4;
    }

    .page-item:nth-child(2) {
        background-color: #E4E4E4;
    }

    .page-item:nth-last-child(2) {
        background-color: #E4E4E4;
    }

    .page-item .page-link {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    .page-item.active {
        background-color: #7F7EFF;
    }

    .page-item.active .page-link {
        border: unset;
        background-color: unset;
    }

    .page-item.disabled.d-none {
        border: unset;
        background-color: unset;
    }

    .page-item.disabled .page-link {
        background-color: unset;
    }

    .page-item:first-child .page-link {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    .page-item:last-child .page-link {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    .page-link {
        padding: unset;
        color: black;
        border: unset;
        background-color: unset;
    }
}

// .ui-select.form-control {
//     padding-left: unset;
//     padding-right: unset;
// }

// .ui-select.is-active:not(.is-disabled) .ui-select__display {
//     border: unset;
// }

.paging-arrow
{
    display: inline-block;
    border-radius: 50%;	
}

// #freccia:hover .paging-arrow
// {
//     display: inline-block;
//     border-radius: 50%;
//     border: 0.15em solid #4183D7;
// }

// #freccia:hover .paging-arrow:after
// {
//     border-top: 0.15em solid #4183D7;
//     border-right: 0.15em solid #4183D7;
// }

.paging-arrow
{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    // border: 0.15rem solid #333;
    // border-radius: 50%;
    // margin-left: 0.75rem;
    transition: all 0.1s ease-out;
}

.paging-arrow:before
{
    position: absolute;
    content: '';
    display: inline-block;
    margin-top: 0.3rem;
    margin-left: -0.05rem;
    width: 0.75rem;
    height: 0.75rem;
    border-top: 0.15rem solid #333;
    border-right: 0.15rem solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.1s ease-out;
    outline-color: transparent;
}

.paging-arrow:after
{
    content: '';
    display: inline-block;
    margin-top: 0.3rem;
    margin-left: -0.35rem;
    width: 0.75rem;
    height: 0.75rem;
    border-top: 0.15rem solid #333;
    border-right: 0.15rem solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.1s ease-out;
    outline-color: transparent;
}

.paging-arrow.back:before {
    transform: rotate(225deg);
    margin-left: 0.15rem;
}

.paging-arrow.back:after {
    transform: rotate(225deg);
    margin-left: 0.45rem;
}

.paging-arrow.single:after {
    margin-left: -0.1rem;
}

.paging-arrow.back.single:after {
    margin-left: 0.3rem;
}

.paging-arrow.single:before {
    display: none;
}

// .paging-arrow:hover:after
// {
//     content: '';
//     display: inline-block;
//     margin-top: 0.9rem;
//     width: 1.2rem;
//     height: 1.2rem;
//     border-top: 0.15rem solid #4183D7;
//     border-right: 0.15rem solid #4183D7;
//     -moz-transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
// }

// .paging-arrow:hover:before
// {
//     content: '';
//     display: inline-block;
//     margin-top: 0.6rem;
//     width: 1.2rem;
//     height: 1.2rem;
//     border-top: 0.15rem solid #4183D7;
//     border-right: 0.15rem solid #4183D7;
//     -moz-transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
// }